  body {
    min-height: 100%;
    background-size: cover;
    background-color: rgb(153,178,221);
    font-family: "Playfair Display", sans-serif;
}

.references{ 
  margin: auto;
  margin-top: 30px;
  position: relative;
  color: #333;
  text-align: justify;
  opacity: 1;
  width: 70%;
  font-size:18px;
}

.indents {
  padding-left: 36px;
  text-indent: -36px;
}